{% if testRules.size > 0 %}
{%- if isTechniques -%}
  {% assign understandingActRulesHref = "../../understanding/understanding-act-rules.html" %}
{%- else -%}
  {% assign understandingActRulesHref = "understanding-act-rules.html" %}
{%- endif -%}
<section id="test-rules">
  <h2>Regras de Teste</h2>
  <p>
    A seguir estão as Regras de Teste
    {% if isTechniques -%}
      relacionado com esta Técnica.
    {%- elsif isUnderstanding -%}
      para alguns aspetos deste Critério de Sucesso.
    {%- endif %}
    Não é necessário usar estas Regras de Teste em particular para verificar conformidade com as WCAG, mas elas são métodos de teste definidos e aprovados.
    Para obter informação sobre a utilização das Regras de Teste, consulte <a href="{{ understandingActRulesHref }}">Compreender as Regras de Teste para os Critérios de Sucesso WCAG</a>.
  </p>
  <ul>
  {% for rule in testRules %}
    <li><a href="/WAI{{ rule.permalink }}">{{ rule.title }}</a></li>
  {% endfor %}
  </ul>
</section>
{%- endif %}
